<nav class="navbar">
    <a href="#" class="navbar-logo">
        <img src="..//assets/img/favicon.ico" alt="Logo" />
        <div class="logo">
            Glink
            <span>Media</span>
            .
        </div>
    </a>
    <div class="navbar-nav">
        <a href="dashboard.php">Home</a>
        <a href="about.php">About</a>
        <a href="#">Services</a>
        <a href="#">Team Members</a>
        <a href="contact.php">Contact</a>
        <a href="maps.php">Maps</a>
        <a href="setting.php">Setting</a>
        <a href="..//database/login.php" class="btn-login"
            ><i class="fa fa-sign-out"><span>Logout</span></i></a
        >
    </div>
    <div class="navbar-extra">
        <a id="search-button"><i data-feather="search"></i></a>
        <button class="btn-dark" onclick="myFunction()">
            <i class="fa-icon fa fa-moon-o"></i>
        </button>
        <!--a href="#"><i class="fa-icon fa fa-moon-o"></i></a-->
        <a id="hamburger-menu"><i class="fa-icon fa fa-bars"></i></a>
    </div>
    <div class="search-form">
        <input
            type="search-button"
            id="search-box"
            placeholder="search here..."
        />
        <label for="search-box"><i data-feather="search"></i></label>
    </div>
</nav>
